<%= bootstrap_form_for(@hatch) do |f| %>
  <% if @hatch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hatch.errors.count, "error") %> prohibited this hatch from being saved:</h2>

      <ul>
      <% @hatch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.datetime_select :hatched_at %>
    <%= f.number_field :chicken_amount %>
    <%= f.text_field :hatchery_id %>
    <ul>
      <%= f.fields_for :images do |i| %>
        <li>
          <%= image_tag(i.object.image_url, width: 200) if i.object.image.present? %>
          <%= i.file_field :image %>
        </li>
      <% end %>
    </ul>
    <%= f.submit %>
<% end %>
